*{
    box-sizing: border-box;
    
}

.counters-wrapper {
    display: flex;
    justify-content: space-around;
}

.attempts-wrapper {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvaswrapper {
    width: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 45px;
}



.div {
    width: 70px;
    height: 70px;
}

.imgwrapper {
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 8rem;
    bottom: 0;
    margin: auto;
    height: 214px;
    width: 214px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.endgame-popup{
    font-size: 1.5rem;
    text-align: center;
    
}
.squares {
    width: 70px;
    height: 70px;
}

.pieces {
 margin: 5px;
}

.pieces:hover {
    cursor: pointer;
}
