*{
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvaswrapper {
    width: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 45px;
}

p {
position: absolute;
}

.div {
    width: 70px;
    height: 70px;
}

.imgwrapper {
    height: 214px;
    width: 214px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.squares {
    width: 70px;
    height: 70px;
}

.pieces {
 margin: 5px;
}
